<section class="contacts">
  <h2 class="contacts__title">Contacts</h2>
  <div class="contacts__branches">
    <div class="contacts__branch">
      <span class="contacts__category contacts__category--color-one">CAFE</span>
      <span class="contacts__city">Chicago</span>
      <p class="contacts__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <div class="contacts__open">
        <span class="contacts__days">Monday - Friday</span>
        <span class="contacts__hours">06:00 AM - 10:00 PM</span>
        <span class="contacts__days">Saturday - Sunday</span>
        <span class="contacts__hours">08:00 AM - 16:00 PM</span>
      </div>
      <a class="contacts__link" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
      <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
    <div class="contacts__branch">
      <span class="contacts__category contacts__category--color-two">FOODTRUCK</span>
      <span class="contacts__city">Los Angeles</span>
      <p class="contacts__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <div class="contacts__open">
        <span class="contacts__days">Monday - Friday</span>
        <span class="contacts__hours">06:00 AM - 10:00 PM</span>
        <span class="contacts__days">Saturday - Sunday</span>
        <span class="contacts__hours">08:00 AM - 16:00 PM</span>
      </div>
      <a class="contacts__link" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
      <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
    <div class="contacts__branch">
      <span class="contacts__category contacts__category--color-one">CAFE</span>
      <span class="contacts__city">New York</span>
      <p class="contacts__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <div class="contacts__open">
        <span class="contacts__days">Monday - Friday</span>
        <span class="contacts__hours">06:00 AM - 10:00 PM</span>
        <span class="contacts__days">Saturday - Sunday</span>
        <span class="contacts__hours">08:00 AM - 16:00 PM</span>
      </div>
      <a class="contacts__link" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
      <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
  </div>
  <div class="contacts__buttons">
    <button class="contacts__button contacts__button--red">
      Our Locations
      <svg class="button__icon" width="8px" height="12px">
        <use href="./images/icons.svg#icon-Vector-1"></use>
      </svg>
    </button>
    <button class="contacts__button contacts__button--white">
      Franchise
      <svg class="button__icon--red" width="8px" height="12px">
        <use href="./images/icons.svg#icon-Vector-1"></use>
      </svg>
    </button>
  </div>
</section>
