<section class="contacts">
  <h2 class="contacts__title"></h2>
  <div class="contacts__branches">
    <div class="contacts__branch">
      <a class="contacts__phone" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
      <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
    <div class="contacts__branch">
      <a class="contacts__phone" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
      <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
    <div class="contacts__branch">
      <a class="contacts__phone" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
      <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </div>
  </div>
  <div class="contacts__buttons">
    <button>Our Locations</button>
    <button>Franchise</button>
  </div>
</section>
